# server #
SERVER_PORT=8019
SERVER_SECRET="mySecretKey"
SERVER_ACCESSTOKENEXPIREDURATION=2
REQUEST_PER_SECOND=6
TRUSTED_PROXIES=["192.168.0.1", "192.168.0.2"]
EXEMPT_FROM_THROTTLE=["127.0.0.1", "192.168.0.2", "::1"]

# App #
APP_NAME =nactive health
APP_URL=http://localhost:8019
# Behavior
APP_ENV=dev   # in prod you can enforce E2EE on selected routes

# Databases #
#DB_HOST=localhost
DB_HOST=host.docker.internal
DB_PORT=5432
TIMEZONE=Africa/Lagos
SSLMODE=disable
USERNAME=lordscoba
PASSWORD=
DB_NAME=postgres
MIGRATE=true

# Test #
#TEST_DB_HOST=localhost
TEST_DB_HOST=host.docker.internal
TEST_DB_PORT=5432
TEST_TIMEZONE=Africa/Lagos
TEST_SSLMODE=disable
TEST_USERNAME=lordscoba
TEST_PASSWORD=
TEST_DB_NAME=postgres
TEST_MIGRATE=true


# IPSTACK
IPSTACK_KEY=key
IPSTACK_BASE_URL=http://api.ipstack.com

#IPData
IPDATA_BASE_URL=https://api.ipdata.co
IPDATA_KEY=your_key_here

#IPAPI
IPAPI_BASE_URL=http://ip-api.com

# Redis
REDIS_PORT=6379
REDIS_HOST=localhost
REDIS_DB=0

# mailgun
MAILGUN_BASE_URL=https://api.mailgun.net/v3
MAILGUN_DOMAIN=
MAILGUN_API_KEY=

# Amazon s3 Bucket
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_S3_BUCKET=
AWS_S3_PUBLIC_BASE=

#Paystack payments
PAYSTACK_BASE_URL=https://api.paystack.co
PAYSTACK_SECRET_KEY=
PAYSTACK_PUBLIC_KEY=

CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=